body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(247, 180, 191);
    
}
.text-rosado {
    color: #FF69B4;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-top: 10%;
    
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 20px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);
    transition: 4s;
    background: rgb(255, 255, 255);
    
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.23),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);

} 
img{

    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
} 
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f32;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
 
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding:15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.buy-1{
    background: #ff00ff; ;

}
.buy-2{
    background: #ff00ff; ;

}
.buy-3{
    background: #ff00ff; ;

}
.buy-4{
    background: #ff00ff; ;    

}
.buy-5{
    background: #ff00ff; ;
}

.buy-6{
    background: #ff00ff; 
}
@media(max-width:1000px){
   .content{
       width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
     }
    
}

