body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.text-rosado{
    color: #FF69B4;
}

.contenedor {
    display: block;
    justify-content: space-between;
}
p{
    text-align: center;
}
.caja {
    margin-top: 100px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.caja img {
    max-width: 100%;
    height: 1100px; /* Mantener la relación de aspecto */
    width: 400px; /* Establecer el ancho deseado para la imagen */
    height: 200px; /* Establecer la altura deseada para la imagen */
}
.caja-1{
    background-color: #ffb0f4;
}

.caja-2 {
    background-color:  rgb(243, 154, 230);
}
